html {
    --vxg-cb0: 255, 255, 255;
    --vxg-cb1: 39, 50, 73;
    --vxg-cb2: 100, 166, 206;
    --vxg-ct0: 50, 64, 103;
    --vxg-ct1: 255, 255, 255;
    --vxg-ct2: 162, 207, 250;
    --vxg-ci0: 46, 122, 193;
}

body {
    margin: 0px;
}

#root {
    display: flex;
    height: 100vh;
}

.MuiDataGrid-columnHeaderTitle {
    font-weight: bold !important;
}